@model MyStayMVC.Models.Booking
@{
    ViewData["Title"] = "BookingDetails";
    ViewBag.Active = "Booking";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#StartDate").datepicker();
        $("#EndDate").datepicker();
    });
</script>
<div class="widget box">
    <div class="widget-header">
        <h4><i class="icon-reorder"></i> Add Booking Details</h4>
    </div>
    <div class="widget-content">
        @using (Html.BeginForm("SubmitBookingDetails", "Booking", FormMethod.Post, new { @id = "SubmitBookingDetails" }))
        {
            <div class="row">
                <label class="col-md-2 control-label">Hotel Name <span class="required">*</span></label>
                <div class="form-group  col-md-3">
                    @Html.DropDownListFor(model => model.ParentHotelID,
                                            (IEnumerable<SelectListItem>)(ViewBag.lstHotelInfo), "--Select Hotel --",
                                            new {@class = "form-control" })
                </div>
            </div>
            <div class="row">
                <label class="col-md-2 control-label">Room Number <span class="required">*</span></label>
                <div class="form-group col-md-3">
                    @Html.DropDownListFor(model => model.ParentRoomID,
                                       (IEnumerable<SelectListItem>)(ViewBag.lstRooms), "-- Select Room Number --",
                                        new {@class = "form-control"})
                </div>
            </div>
            <div class="row">
                <label class="col-md-2 control-label">Start Date<span class="required">*</span></label>
                <div class="form-group  col-md-2">
                    @Html.TextBoxFor(model => model.StartDate, new { @autocomplete = "off", @class = "form-control", @placeholder = "Select Start Date" })
                </div>
            </div>
            <div class="row">
                <label class="col-md-2 control-label">End Date<span class="required">*</span></label>
                <div class="form-group  col-md-2">
                    @Html.TextBoxFor(model => model.EndDate, new { @autocomplete = "off", @class = "form-control", @placeholder = "Select End Date" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-1a">
                    <button type="submit" class="btn btncusSave btn-block btn-flat">Save</button>
                </div>
                <div class="form-group col-md-1a" style="margin-left:-10px;">
                    <button type="button" class="btn btncusCancel btn-block btn-flat" onclick="location.href='@Url.Action("BookingDetails","Booking")'">Cancel</button>
                </div>
            </div>
        }
    </div>

</div>
<!-- /Validation Example 1 -->
