@model MyStayMVC.Models.HotelInfo
@{
    ViewData["Title"] = "HotelDetails";
    ViewBag.Active = "HotelInfo";
}

<div class="widget box">
    <div class="widget-header">
        <h4><i class="icon-reorder"></i> Hotel Details</h4>
    </div>
    <div class="widget-content">
        @using (Html.BeginForm(new { @id = "SubmitHotelDetails" }))
        {
            <div class="row">
                <div class="form-group  col-md-3">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Enter Hotel Name" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div class="form-group col-md-3">
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Enter Hotel Address" })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "label label-danger" })
                </div>
                <div class="form-group col-md-1a">
                    <input type="submit" name="search" value="Search" formaction="HotelDetails" formmethod="post" class="btn btncusCancel btn-block btn-flat" />
                </div>
                <div class="form-group col-md-1a" style="margin-left:-10px;">
                    <input type="submit" name="save" value="Add" formaction="SubmitHotelDetails" formmethod="post" class="btn btncusSave btn-block btn-flat" />
                </div>
            </div>
        }
        @Html.Partial("~/Views/HotelInfo/_HotelInfoList.cshtml")
    </div>

</div>
<!-- /Validation Example 1 -->
